<h2>Index page</h2>


<%= form_for @place do |f| %>
  <ul>
  <% @place.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <h3><%= f.label :clue_search, "Search for clue locations:" %></h3>
  <p><%= f.text_field :feature_name %>
  <%= f.submit "Find Clues" %>
  <p><%= f.check_box :elev_in_ft %>
  <%= f.label :elevation, "Only search for places above 5000 feet" %>


<% end %>

<p><%= link_to "Search Results", results_path %>

<p><%= link_to "Map", map_path %>