<div class="row">
  <div class="large-7 columns">
    <div class="large-1 columns"></div>
    <div class="large-10 columns">
      <div style="font-size: 60px; margin-top: 50px;">The Poem</div>
      <p><br><div style="font-size: 30px; ">Forrest Fenn wrote this poem and included it in his memoir, The Thrill of the Chase.
      He has says that it contains nine clues that if followed precisely, will lead to the end of his rainbow and the treasure.
      <br>
      <br>
      Forrest has also said that the poem contains all the clues necessary to find the treasure
      but that there are also "subtle hints" in the book.
      <br>
      <br>
      Find clues in the poem or the book and then search for them here to find places that they might refer to.</div>
    <% if flash[:notice] %>
            <div class='flash' id='flash-format'><%= flash[:notice] %></div>
          <% end %>
        <%= form_tag map_path, method: :get do %>
            <div id="search-title"></div>
              <br>
              <br>
              <br>
              <%= text_field_tag :query, params[:query] %>
                <input id="elevation_5000" type="checkbox" value="yes" name="elevation_5000"> Only search locations above 5000 ft.
              <%= submit_tag "Find Clues", feature_name: nil, class: "button large" %>

              <div style="font-size: 24px;">Select the states to search:</div>
                <div class="row">
                  <div class="large-4 columns">
                    <br><input id="select_state" type="checkbox" value="CO" name="select_state[CO]" checked="yes">Colorado
                    <br><input id="select_state" type="checkbox" value="ID" name="select_state[ID]" checked="yes">Idaho
                  </div>
                  <div class="large-4 columns">
                    <br><input id="select_state" type="checkbox" value="MT" name="select_state[MT]" checked="yes">Montana
                    <br><input id="select_state" type="checkbox" value="NM" name="select_state[NM]" checked="yes">New Mexico
                  </div>
                  <div class="large-4 columns">
                    <br><input id="select_state" type="checkbox" value="UT" name="select_state[UT]" checked="yes">Utah
                    <br><input id="select_state" type="checkbox" value="WY" name="select_state[WY]" checked="yes">Wyoming
                  </div>
                </div>

            <% end %>
          </div>
    <div class="large-1 columns"></div>

  </div>
    <div class="large-5 columns">
      <div id="poem-panel">
        <div id="poem-style" class="poem-background"></div>
          <div class="row">
            <div class="12-large columns">
              <div class="hidden-poem">
              <div id="poem-title">The Thrill of the Chase</div>
                <div id="poem-body">
                  <div style="text-align: center"><i>by Forrest Fenn</i></div>
                  <p></p>
                    As I have gone alone in there
                    <br>And with my treasures bold,
                    <br>I can keep my secret where,
                    <br>And hint of riches new and old.
                    <br>
                    <br>Begin it where warm waters halt
                    <br>And take it in the canyon down,
                    <br>Not far, but too far to walk.
                    <br>Put in below the home of Brown.
                    <br>
                    <br>From there it's no place for the meek,
                    <br>The end is ever drawing nigh;
                    <br>There'll be no paddle up your creek,
                    <br>Just heavy loads and water high.
                    <br>
                    <br>If you've been wise and found the blaze,
                    <br>Look quickly down, your quest to cease,
                    <br>But tarry scant with marvel gaze,
                    <br>Just take the chest and go in peace.
                    <br>
                    <br>So why is it that I must go
                    <br>And leave my trove for all to seek?
                    <br>The answer I already know,
                    <br>I've done it tired, and now I'm weak.
                    <br>
                    <br>So hear me all and listen good,
                    <br>Your effort will be worth the cold.
                    <br>If you are brave and in the wood
                    <br>I give you title to the gold.
                    <br>
                    <br>
                    <%= image_tag "treasure_chest_short.jpg" %>
                  </i>
                </div>

                <script>
                  $( document ).ready(function() {
                    $( "#poem-body" ).hide();
                    $( "#poem-body" ).slideDown( 3000 );
                  });
                </script>

              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>