<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic">
    <%= favicon_link_tag 'star_gold_256.png' %>

    <title><%= content_for?(:title) ? yield(:title) : "CacheMap" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "jquery", "application" %>
    <%= csrf_meta_tags %>

    <!-- shim for HTML5 elements for older browsers -->
    <script src="/js/custom.modernizr.js"></script>

    <%= yield :map %>

  </head>

  <body>

    <%= render :partial => "/nav_bar" %>

    <div id="landing-container">
      <div id="map-background" class="translucent"></div>

    <%= yield %>

    </div>

    <!-- Foundation js to make top-bar (and other features?) work -->
    <!-- Check for Zepto support, load jQuery if necessary -->
    <script>
      document.write('<script src=/js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>

    <!-- initialize Foundation -->
    <script>
      $(document).foundation();
    </script>

  </body>

  <footer>
    <%= yield :scripts %>
  </footer>

</html>

